@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.search {
  background-color: #0056b3;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
}

.search-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.photo-card {
  width: calc(25% - 20px);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  margin-left: 0px;
  overflow: hidden;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.info-item {
  margin-right: 10px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

input[type='text'] {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 60%;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .photo-card {
    width: 100%;
  }
}
